<!DOCTYPE html>
<html lang="sv-SE">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Language" content="sv-SE" />
  <title>O1UA Referensdata</title>
  <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" />

  <!--[if IE]><script src="/media/javascript/html5_ie.js"></script><![endif]-->
  <script type="text/javascript" src="/media/javascript/jquery-1.4.2.min.js"></script>
</head>
<body>
  <div class="container">
    <header class="span-24 last">
      <h1 class="span-7">
        <a href="/"><img src="/media/images/logo.png"/></a>
      </h1>
      <div class="span-17 last" style="text-align:right;">
        <ul>
          <li class="nav-first nav-border">Hej Jonas!</li><br/>
          <li class="nav-border"><a href="/logga-ut/?next=/">Logga ut</a></li>
        </ul>
      </div>
    </header>

    <article class="span-24 last">
      Main content
    </article>
  </div>
</body>
</html>

